<div class="ui stacked segment">

<form class="ui form" action="/station/{{sid}}/addreading" method="POST">
  <h3 class="ui header">
    Add a Reading
  </h3>
  <div class="two fields">
    <div class="field">
      <label>Weather Code</label>
      <select class="ui dropdown" name="code" required>
        <option value="">Select</option>
        <option value="200">200</option>
        <option value="201">201</option>
        <option value="202">202</option>
        <option value="210">210</option>
        <option value="211">211</option>
        <option value="212">212</option>
        <option value="221">221</option>
        <option value="230">230</option>
        <option value="231">231</option>
        <option value="232">232</option>
        <option value="300">300</option>
        <option value="301">301</option>
        <option value="302">302</option>
        <option value="310">310</option>
        <option value="311">311</option>
        <option value="312">312</option>
        <option value="313">313</option>
        <option value="314">314</option>
        <option value="321">321</option>
        <option value="500">500</option>
        <option value="501">501</option>
        <option value="502">502</option>
        <option value="503">503</option>
        <option value="504">504</option>
        <option value="511">511</option>
        <option value="520">520</option>
        <option value="521">521</option>
        <option value="522">522</option>
        <option value="531">531</option>
        <option value="600">600</option>
        <option value="601">601</option>
        <option value="602">602</option>
        <option value="611">611</option>
        <option value="612">612</option>
        <option value="613">613</option>
        <option value="615">615</option>
        <option value="616">616</option>
        <option value="620">620</option>
        <option value="621">621</option>
        <option value="622">622</option>
        <option value="701">701</option>
        <option value="711">711</option>
        <option value="721">721</option>
        <option value="731">731</option>
        <option value="741">741</option>
        <option value="751">751</option>
        <option value="761">761</option>
        <option value="762">762</option>
        <option value="771">771</option>
        <option value="781">781</option>
        <option value="800">800</option>
        <option value="801">801</option>
        <option value="802">802</option>
        <option value="803">803</option>
        <option value="804">804</option>
      </select>
    </div>
    <div class="field">
      <label>Temperature (C)</label>
      <input placeholder="Temperature (in C)" min="-40" max="60" type="number" step="0.1" name="temperature" required>
    </div>
    <div class="field">
      <label>Wind Speed</label>
      <input placeholder="Wind Speed in Km/h" type="number" step="0.1" min="0" name="windSpeed" required>
    </div>
    <div class="field">
      <label>Wind Direction</label>
      <input placeholder="Wind Direction in Degrees" type="number" min="0" max="360" step="0.1" name="windDirection" required>
    </div>
    <div class="field">
      <label>Pressure</label>
      <input placeholder="Pressure in hPa" type="number" min="800" max="1300" step="1" name="pressure" required>
    </div>
  </div>
  <button class="ui submit button">Add Reading</button>
  <div class="ui error message"></div>
</form>
  <hr>
<form id="autoread" action="/autoread/{{sid}}" method="post">
  <button class="ui invert submit button">Auto Read</button>
</form>

</div>