<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <h2 class="ui header">
    Add a Station
  </h2>
  <div class="field">
    <label><h4>Name your Station</h4></label>
    <input placeholder="Station Name" id="name" type="text" name="name" required>



  </div>
  <div class="two fields">
    <div class="field">
      <h4>Generate Co-ordinates</h4>
      <div onclick="getLocation()" class="ui button">Find Co-ordinates &nbsp;<i  class="thumbtack icon"></i></div>

      <div onclick="useCurrentLocation()" class="ui button">Use Current Location</div>
    </div>
  <div class="field">
    <h4>...or enter them here.</h4>
    <label>Latitude</label>
    <input id="latitude" placeholder="Latitude" min="-90" max="90" type="number" step="0.0000001" name="latitude" required>
    <label>Longitude</label>
    <input id="longitude" placeholder="Longitude" min="-180" max="180" type="number" step="0.0000001" name="longitude" required>
  </div>
  </div>
  <button class="ui submit button">Add Station</button>
</form>
<script>
  function updatelatlong(pos) {
    var crd = pos.coords;
    document.getElementById("latitude").value = crd.latitude;
    document.getElementById("longitude").value = crd.longitude;
  }

  function useCurrentLocation(){
    navigator.geolocation.getCurrentPosition(updatelatlong)
  }
</script>
<script>
  function getLocation(){
    let location = document.getElementById("name").value
    let apicall = 'http://localhost:4000/coords/'+location
    fetch(apicall)
      .then(data => {
        return data.json()
      })
      .then(x => {
        var fulldata = x.x;
        document.getElementById('latitude').value= Number(fulldata.lat).toFixed(7)
        document.getElementById('longitude').value= Number(fulldata.lng).toFixed(7)
        return fulldata
      });
  }
</script>