{{> menu id="dashboard"}}

<section class="ui segment">
  <h2 class="ui header">
    {{title}}
    {{name}}
  </h2>
  {{#if readings}}
    {{> latestreading }}
    {{/if}}
  {{> listreadings readings=readings station=station }}
  {{> addreading }}

</section>