{{> menu id="dashboard"}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}



  </h2>
  {{#if station.readings}}
    {{> latestreading latestreading=latestreading latitude=station.latitude longitude=station.longitude }}
    {{/if}}
  {{> listreadings readings=station.readings station=station.id }}
  {{> addreading }}

</section>