{{> menu id="dashboard"}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}



  </h2>

  {{#if station.readings}}
    {{>chart}}
    {{> latestreading latestreading=latestreading latitude=station.latitude longitude=station.longitude }}
    {{> listreadings readings=station.readings sid=station.id }}
    {{else}}
    <p>You don't have any readings for this station yet. Create one below.</p>
    {{/if}}

  {{> addreading sid=station.id }}

</section>